# Cloudflare Workers Secrets
JWT_SECRET=development-secret-key
RESEND_API_KEY=re_xxxxxxxxxxxxxx

# Github actions Repository Variables
ALLOWED_ORIGIN=http://localhost:3000
CLIENT_URL=http://localhost:3000
EMAIL_FROM=onboarding@resend.dev
